src/main/resources/client_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="key"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="http://www.google.com"/>
        <xs:enumeration value="hemant"/>
        <xs:enumeration value="12345"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="key">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="url"/>
        <xs:enumeration value="username"/>
        <xs:enumeration value="password"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="property" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>